.Skin{
    position:absolute;
    width: 1810px;
    height: 969px;
    background-color: rgb(32, 37, 37);

}
.ReviewTag{
    position: absolute;
    width: 300px;
    height: 200px;
    left: 700px;
    color: gold;
    font-size:500%;
}
.SecondTag{
    position: absolute;
    width: 1100px;
    height: 200px;
    left: 400px;
    color: rgb(85, 83, 83);
    font-size:170%;
    top: 190px;
}