.main2 {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-wrapper {

    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.text{
  display: flex;
  width:inherit;
  height:inherit;
  position: absolute;
  justify-content:center;
}

.text h1{
    position: absolute;
    font-size: 48px;
    color: white;
    top: 15%;
    line-height: 1.45;
    font-weight: 600;
    letter-spacing: 0.5;
    background-position: center center;

}

.text-wrapper button {
    border-radius: 3px;
    width: 305px;
    height: 56px;
    border: 2px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.text-wrapper button:hover {
    cursor: pointer;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.icon{
    position: relative;
    width: 100px;
    height: 100px;
    bottom: -25%;
}


