@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
a{
    text-decoration:none !important;
}

.btn-body{
    height:40px;
    width:95px;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    color: white;
    transition: all 0.2s ease;
}

.btn-body.active{
    color: wheat;
    transform: scale(1.05);
}

.btn-title{
    margin: 4px auto;
    font-weight: bold;
    font-size:14px;
    font-family: 'GraphikTT',Arial,sans-serif;
}

.btn-body:hover{
    color:wheat;
}
